.alert {
    position: fixed;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px 20px 50px;
    color: #0f4c81;
    background-color: #bee3f8; 
    border: 1px solid #ddd; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out; /* Fade-in animation */
  
    /* Optional: Center text and add space before icon */
    font-size: large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Optional: Animation for fade-in */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  