.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px; /* Mengurangi padding agar tombol lebih kecil */
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Menambahkan border radius */
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .masukkanButton {
    margin-top: 10px;
  }
  